h1 {
  text-align: center;
  background-color: gold;
  margin: 0;
  padding: 10px 0;
}

.search {
  background-color: gold;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 490px;
  margin: 0 auto;
  padding: 10px 0;
}